<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangqu.eshow.demo">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--引导页面-->
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--启动页面-->
        <activity
            android:name=".activity.EntranceActivity_"
            android:icon="@drawable/icon"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册页面-->
        <activity
            android:name=".activity.InputTelActivity_"
            android:label="@string/title_activity_regist"
            android:screenOrientation="portrait"/>

        <!--登录页面-->
        <activity
            android:name=".activity.LoginActivity_"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!--找回密码-->
        <activity
            android:name=".activity.InputPasswordActivity_"
            android:label="@string/title_activity_findPassword"
            android:screenOrientation="portrait"/>

        <!--设置-->
        <activity
            android:name=".activity.SettingActivity_"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"/>

        <!--条码、二维码扫描结果文本显示页面-->
        <activity
            android:name=".activity.ScanTextResultActivity_"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"/>

        <!--扫描条码、二维码页面-->
        <activity
            android:name="com.bangqu.eshow.demo.activity.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"/>

        <!--网址显示页面-->
        <activity
            android:name="com.bangqu.eshow.demo.activity.WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait"/>

        <!--地图上选择地址的页面-->
        <activity
            android:name="com.bangqu.eshow.demo.activity.ChooseLocationActivity_"
            android:screenOrientation="portrait"/>


        <!--使用友盟5.0SDK-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56cff43467e58e98be001837" >
        </meta-data>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="b6637b594ae3e6f4d5a6c2f5d568d602"/>


    </application>

</manifest>
