<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangqu.eshow.demo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActionbarSpannerTheme1" />
        <!--引导页面-->
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--启动页面-->
        <activity
            android:name=".activity.EntranceActivity_"
            android:icon="@drawable/icon"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="coding.net"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="m.coding.net"
                    android:pathPattern="/.*"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!--注册页面-->
        <activity
            android:name=".activity.InputTelActivity_"
            android:label="@string/title_activity_regist"
            android:screenOrientation="portrait"/>

        <!--登录页面-->
        <activity
            android:name=".activity.LoginActivity_"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--找回密码-->
        <activity
            android:name=".activity.FindPasswordActivity_"
            android:label="@string/title_activity_findPassword"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
