<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.org.eshow.demo"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--引导页面-->
        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--启动页面-->
        <activity
            android:name=".activity.EntranceActivity_"
            android:icon="@drawable/icon"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--注册页面-->
        <activity
            android:name=".activity.InputTelActivity_"
            android:label="@string/title_activity_regist"
            android:screenOrientation="portrait" />

        <!--登录页面-->
        <activity
            android:name=".activity.LoginActivity_"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--找回密码-->
        <activity
            android:name=".activity.InputPasswordActivity_"
            android:label="@string/title_activity_findPassword"
            android:screenOrientation="portrait" />

        <!--设置-->
        <activity
            android:name=".activity.SettingActivity_"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />

        <!--条码、二维码扫描结果文本显示页面-->
        <activity
            android:name=".activity.ScanTextResultActivity_"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait" />

        <!--扫描条码、二维码页面-->
        <activity
            android:name=".activity.ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait" />

        <!--网址显示页面-->
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" />

        <!--地图上选择地址的页面-->
        <activity
            android:name=".activity.ChooseLocationActivity_"
            android:screenOrientation="portrait" />

        <!--根据用户输入地方名搜索-->
        <activity
            android:name=".activity.SearchLocationActivity_"
            android:screenOrientation="portrait" />

        <!--表单输入页面-->
        <activity
            android:name=".activity.InfoFormActivity_"
            android:label="@string/title_activity_infoform"
            android:screenOrientation="portrait" />

        <!--表单信息修改页面-->
        <activity
            android:name=".activity.ModifyStringValueActivity_"
            android:screenOrientation="portrait" />

        <!--表单信息修改性别页面-->
        <activity
            android:name=".activity.ModifySexActivity_"
            android:screenOrientation="portrait" />

        <!-- 网页支付页面 -->
        <activity
            android:name=".activity.PayWebViewActivity"
            android:screenOrientation="portrait" />

        <!--地图功能页面-->
        <activity
            android:name=".activity.MapActivity_"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" />

        <!--分享功能页面-->
        <activity
            android:name=".activity.ShareActivity_"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" />

        <!--音乐列表-->
        <activity
            android:name=".activity.ImagesActivity_"
            android:label="@string/title_activity_music"
            android:screenOrientation="portrait" />

        <!--音乐列表-->
        <activity
            android:name=".music.MusicListActivity_"
            android:label="@string/title_activity_music"
            android:screenOrientation="portrait" />
        <!--音乐播放界面-->
        <activity
            android:name=".music.PlayActivity_"
            android:label="@string/title_activity_music"
            android:screenOrientation="portrait" />
        <!--音乐下载界面-->
        <activity
            android:name=".music.MusicDownActivity_"
            android:label="@string/title_activity_music"
            android:screenOrientation="portrait" />
        <service android:name=".music.MusicService_" />

        <!--蓝牙连接功能页面-->
        <activity
            android:name=".bluetooth.BluetoothActivity_"
            android:label="@string/title_activity_bluetooth"
            android:screenOrientation="portrait" />
        <service android:name=".bluetooth.BluetoothConnService"></service>

        <!--裁剪图片页面-->
        <activity
            android:name=".activity.CropImageActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" />


        <!--使用友盟5.0SDK-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56cff43467e58e98be001837"></meta-data>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105134763" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--新浪微博-->
        <activity
            android:name=".sinaapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>

        <!--<service-->
        <!--android:name="com.sina.weibo.sdk.net.DownloadService"-->
        <!--android:exported="false"></service>-->
        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService">

        </service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b6637b594ae3e6f4d5a6c2f5d568d602" />

        <!--支付-->
        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!--&lt;!&ndash; 【必须】 (2.30及以上版新增)展示通知的activity &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.tencent.android.tpush.XGPushActivity"-->
            <!--android:exported="false"-->
            <!--android:theme="@android:style/Theme.Translucent">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; 若使用AndroidStudio，请设置android:name="android.intent.action"&ndash;&gt;-->
                <!--<action android:name="android.intent.action" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; 【必须】 信鸽receiver广播接收 &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="com.tencent.android.tpush.XGPushReceiver"-->
            <!--android:process=":xg_service_v2">-->
            <!--<intent-filter android:priority="0x7fffffff">-->

                <!--&lt;!&ndash; 【必须】 信鸽SDK的内部广播 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.SDK" />-->
                <!--<action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />-->
                <!--&lt;!&ndash; 【必须】 系统广播：网络切换 &ndash;&gt;-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->

                <!--&lt;!&ndash; 【可选】 系统广播：开屏 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->

                <!--&lt;!&ndash; 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service &ndash;&gt;-->
                <!--<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 &ndash;&gt;-->
            <!--<intent-filter android:priority="0x7fffffff">-->
                <!--<action android:name="android.intent.action.MEDIA_UNMOUNTED" />-->
                <!--<action android:name="android.intent.action.MEDIA_REMOVED" />-->
                <!--<action android:name="android.intent.action.MEDIA_CHECKING" />-->
                <!--<action android:name="android.intent.action.MEDIA_EJECT" />-->

                <!--<data android:scheme="file" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--&lt;!&ndash; 【必须】 信鸽service &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.service.XGPushService"-->
            <!--android:exported="true"-->
            <!--android:persistent="true"-->
            <!--android:process=":xg_service_v2" />-->

        <!--&lt;!&ndash; 【必须】 通知service，其中android:name部分要改为当前包名 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.tencent.android.tpush.rpc.XGRemoteService"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.yanwanfu.bluetoothchat &ndash;&gt;-->
                <!--<action android:name="cn.org.eshow.demo.PUSH_ACTION" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; 已废弃，可删除之；若不删除也不会有任何副作用 &ndash;&gt;-->
        <!--&lt;!&ndash;<service-->
            <!--android:name="com.tencent.android.tpush.service.XGDaemonService"-->
            <!--android:process=":qq_push_daemon" />-->
        <!--&ndash;&gt;-->
        <!--&lt;!&ndash; 【可选】信鸽拉起其他APP应用，若应用在本地找不到可以自动下载 &ndash;&gt;-->
        <!--&lt;!&ndash;-->
              <!--<service-->
            <!--android:name="com.tencent.android.tpush.XGDownloadService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" />-->
        <!--&ndash;&gt;-->
        <!--&lt;!&ndash; 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 &ndash;&gt;-->
        <!--&lt;!&ndash; YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： &ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".service.MessageReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; 接收消息透传 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />-->
                <!--&lt;!&ndash; 监听注册、反注册、设置/删除标签、通知被点击等处理结果 &ndash;&gt;-->
                <!--<action android:name="com.tencent.android.tpush.action.FEEDBACK" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 package is cn.org.eshow&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="XG_V2_ACCESS_ID"-->
            <!--android:value="2100196658" />-->
        <!--&lt;!&ndash; 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="XG_V2_ACCESS_KEY"-->
            <!--android:value="APUH676FG76K" />-->

        <!--&lt;!&ndash; 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格  package is cn.org.eshow.demo &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="XG_V2_ACCESS_ID"-->
        <!--android:value="2100197160" />-->
        <!--&lt;!&ndash; 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="XG_V2_ACCESS_KEY"-->
        <!--android:value="A3EG4Y12TG3W" />-->

        <activity android:name="com.bangqu.activity.AlbumActivity" />
        <activity android:name="com.bangqu.activity.PhotosFullActivity" />
        <activity
            android:name=".activity.CityChangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <!-- 配置第三方Receiver -->
        <!-- 此处com.getui.demo.PushDemoReceiver，需要替换成开发者自己的BroadcastReceiver文件全名-->
        <receiver
            android:name="cn.org.eshow.demo.common.PushDemoReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
